###
# SPDX-License-Identifier: AGPL-3.0
#
# Author: Bernd rederlechner <bernd.rederlechner@t-systems.com>
#
# Builds a stable release package based on a release assembly
# customisation-<version>-<increment>
#
# As soon as a package is deployed to production, the tag and the branch
# MUST STAY FOR 2 years and not deleted.
#
# Release packages, tags and customisation branches not delivered to production should
# be deleted asap a newer release is available.
#

name: MCLOUD create stable backports

on:
  workflow_dispatch:
    inputs:
      branch:
        type: choice
        description: Custom build from base branch
        options: 
          - stable-5.2.1
          - stable-4.9.7
          - 4.9.6
          - 4.9.5
        default: stable-5.2.1

jobs:
  backport-custom:
    uses: nextmcloud/.github/.github/workflows/nmc-custom-stables.yml@master
    with:
      trunk: 'master'
      stable: ${{ inputs.branch }}
    secrets: inherit
